/* 1280 */
.place__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 500px) {
  .place__title {
    font-size: 8vw;
  }
}

@media screen and (max-width: 536px) {
  .place__title {
    margin:0 auto 32px 16px;
    max-width:288px;
    font-size: 32px;
    line-height: 35px;
  }
}
