.photo-grid {
  max-width:1184px;
  min-width:288px;
  width:100%;
  margin-bottom:92px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    margin-bottom:92px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
  margin-bottom:88px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
  margin-bottom:64px;
  }
}
