/* 1280 */
.places {
  margin: 0 auto 92px auto;
  padding: 0;
  max-width: 984px;
  min-width: 320px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width:928px;
  }
}

@media screen and (max-width: 1095px) {
  .places {
    margin: 0 48px 92px 48px;
  }
}

@media screen and (max-width: 808px) {
  .places {
    margin: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width:720px;
  }
}

@media screen and (max-width: 536px) {
  .places {
    margin: 0 0 66px 0;
  }
}


