/* 1280 */
.places {
  margin: 0 auto;
  padding: 0;
  max-width:984px;
  min-width:320px;
  width:100%
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .places {
    max-width:928px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .places {
    max-width:720px;
  }
}
