.place__paragraph {
  margin: 0 auto 26px 0;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  max-width: 484px;
  width: 100%;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin: 0 auto 25px auto;
  }
}

@media screen and (max-width: 536px) {
  .place__paragraph {
    max-width: 90%;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
  }
}

