/* 1280 */
.intro {
  margin: 0 auto;
  max-width:690px;
}
/* 768 */
@media screen and (max-width: 768px) {
  .intro {
    max-width:720px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    max-width:288px;
  }
}
