/* 1280 */
.intro {
  margin: 0 auto;
  max-width: 720px;
  width: 690px;
  min-width: 288px;
  width: 100%;
  margin: 92px auto 92px 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px auto 92px 48px;
  }
}
/* 768 */
@media screen and (max-width: 784px) {
  .intro {
    max-width: 720px;
    margin: 88px auto 88px 24px;
  }
}
@media screen and (max-width: 760px) {
  .intro {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    max-width: 288px;
    margin: 64px auto 64px 16px;
  }
}
