.header__container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-between;
  padding:28px 0 0 0;
  max-width:1184px;
  min-height:288px;
  min-height:52px;
}
@media screen and (max-width: 1184px) {
  .header__container {
    padding:28px 48px 0 48px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    padding:28px 24px 0 24px;
  }
}
@media screen and (max-width: 336px) {
  .header__container {
    padding:16px 16px 0 16px;
    min-height:42px;
  }
}
