/* 1280 */
.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 26px;
  row-gap: 50px;
  margin-bottom:92px;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .place {
    column-gap: 16px;
    row-gap: 45px;
    margin-bottom:90px;
  }
}

/* 568 */
@media screen and (max-width: 568px) {
  .place {
    column-gap: 12px;
  }
}
@media screen and (max-width: 536px) {
  .place {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0;
  }
}
@media screen and (max-width: 320px) {
  .place {
    margin-bottom:66px;
  }
}
