/* 1280, 1024 */
.footer {
  margin: 92px 0 auto;
  padding: 0 0 24px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin: 88px 48px auto;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px auto;
    max-width: 720px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    min-width: 186px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    margin: 64px 0 auto;
  }
}
